@use "attribution.scss";
@use "font.scss";
@use "style-settings.scss";
@use "statblock-types.scss" as statblocks;
@use "../themes/default" as default;

@each $block_name in statblocks.$names {
	.statblock.#{$block_name} {
		@include default.theme;

		--statblock-primary-color: rgb(51, 51, 51);
		--statblock-rule-color: rgb(51, 51, 51);
		--statblock-background-color: rgb(246, 244, 242);

		--statblock-bar-color: rgb(51, 51, 51);
		--statblock-bar-border-size: 1px;
		--statblock-bar-border-color: rgb(51, 51, 51);

		--statblock-image-width: 75px;
		--statblock-image-height: 75px;
		--statblock-image-border-size: 2px;
		--statblock-image-border-color: rgb(51, 51, 51);

		--statblock-header-image-height: 22px;
		--statblock-header-image-padding: 0 0 2px 0;

		--statblock-border-size: 1px;
		--statblock-border-color: rgb(51, 51, 51);

		--statblock-box-shadow-color: none;
		--statblock-box-shadow-x-offset: 0;
		--statblock-box-shadow-y-offset: 0;
		--statblock-box-shadow-blur: 1.5em;

		--statblock-font-color: rgb(51, 51, 51);
		--statblock-font-weight: 400;

		--statblock-content-font: system-ui, "Pathfinder", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
		--statblock-content-font-size: 13px;

		--statblock-heading-font: system-ui, "Pathfinder", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
		--statblock-heading-font-color: rgb(51, 51, 51);
		--statblock-heading-font-size: 1.35em;
		--statblock-heading-font-variant: small-caps;
		--statblock-heading-font-weight: 700;
		--statblock-heading-line-height: 1;

		--statblock-property-line-height: 1.33em;
		--statblock-property-font-color: rgb(51, 51, 51);
		--statblock-property-name-font-color: rgb(51, 51, 51);
		--statblock-property-name-font-weight: bold;

		--statblock-section-heading-border-size: 1px;
		--statblock-section-heading-border-color: transparent;
		--statblock-section-heading-font-color: rgb(51, 51, 51);
		--statblock-section-heading-font-size: 1.33em;
		--statblock-section-heading-font-variant: small-caps;
		--statblock-section-heading-font-weight: 400;

		--statblock-saves-line-height: 1.33em;

		--statblock-spells-font-style: italic;

		--statblock-table-header-font-weight: bold;


		--statblock-column-width: 400px;

		// Needed for Trait Gap Variable
		--statblock-traits-gap: 2px;
	}
}
