@use 'attribution';
@use 'font';
@use 'style-settings';
@use 'statblock-types' as statblocks;
@use '../themes/default' as default;

$path2e-bar-color: rgba(51, 51, 51, 1);
$width-1px: 1px;
$unset: unset;

@each $block_name in statblocks.$names {
	.statblock.#{$block_name} {
		.bar {
			height: $width-1px;
			background: $path2e-bar-color;;
			border: $width-1px solid $path2e-bar-color;;
			z-index: 1;
			width: fit-content;
		}
		div.tapered-rule {
			width: auto;
			margin: 0;
			height: $width-1px;
			background: $path2e-bar-color;
			clip-path: $unset !important;
			-webkit-clip-path: $unset;
		}
	}
}
