@use 'attribution';
@use 'font';
@use 'style-settings';
@use 'statblock-types' as statblocks;
@use '../themes/default' as default;

@each $block_name in statblocks.$names {
	.statblock.#{$block_name} {
		a,
		a:-webkit-any-link,
		a.internal-link {
			color: var(--statblock-hyperlink-color);
			font-weight: bolder;
			text-decoration: var(--statblock-hyperlink-text-decoration);
		}
		b,
		strong,
		.cm-strong {
			font-weight: var(--statblock-property-name-font-weight);
			color: var(--statblock-property-name-font-color);
		}
		i,
		em,
		.cm-em {
			font-style: italic;
			color: var(--statblock-italic-font-color);
			font-weight: 500;
		}

		ul {
			/* Corrects the UL/LI Coloration */
			display: block;
			list-style-type: var(--statblock-list-style-type);
			margin-block-start: var(--statblock-list-margin-block-start);
			margin-block-end: var(--statblock-list-margin-block-end);
			margin-inline-start: var(--statblock-list-margin-inline-start);
			margin-inline-end: var(--statblock-list-margin-inline-end);
			padding-inline-start: var(--statblock-list-padding-inline-start);
		}

		.markdown-rendered ul,
		.markdown-rendered ol {
			padding-inline-start: var(--statblock-list-indent);
		}

		li {
			color: var(--statblock-content-font);
			display: list-item;
			text-align: var(--statblock-list-text-align);
		}

		.markdown-source-view ol > li,
		.markdown-source-view ul > li,
		.markdown-preview-view ol > li,
		.markdown-preview-view ul > li,
		.markdown-rendered ul > li,
		.mod-cm6 .HyperMD-list-line.cm-line {
			padding-top: var(--statblock-list-padding-top);
			padding-bottom: var(--statblock-list-padding-bottom);
		}

		ol > li::marker,
		ul > li::marker,
		.cm-s-obsidian .cm-formatting-list {
			color: var(--list-marker-color);
		}

		::marker {
			unicode-bidi: isolate;
			font-variant-numeric: tabular-nums;
			text-transform: none;
			text-indent: 0;
			text-align: start;
			text-align-last: start;
		}

	}
}

