@use 'attribution';
@use 'font';
@use 'style-settings';
@use 'statblock-types' as statblocks;
@use '../themes/default' as default;

// Local Var
$fine-inline: inline;
$the-shoe-fits: fit-content;
$positioned-ideal: center;
$no-borders: none;
$relative-position: relative;
$spin-540: rotateY(180deg);

// Le Style

@each $block_name in statblocks.$names {
	.statblock.#{$block_name} {
		img {
			display: $fine-inline;
			position: $relative-position;
			border: $no-borders;
			transform: $spin-540;
		}

		.image-container {
			text-align: $positioned-ideal;
		}
		.token {
			> a {
				display: $fine-inline;
			}
		}
		.image {
			width: var(--statblock-image-width);
			height: var(--statblock-image-height);
			display: $fine-inline;
			max-height: $the-shoe-fits;
			max-width: $the-shoe-fits;
			transform: $spin-540;
		}

		.statblock-inline-item {
			& .image {
				width: $the-shoe-fits;
				height: $the-shoe-fits;

				img {
					border: $no-borders;
					display: $fine-inline;
					position: $relative-position;
					align-self: $positioned-ideal;
					object-fit: contain;
					transform: $spin-540;
				}

				& .pointer {
					cursor: pointer;
				}
			}
		}
	}
}
