@use "statblock-types" as statblocks;
@use "../themes/default" as default;

$popover-border: rgb(226, 105, 134) 0 dashed;
$popover-border-radius: 0;
$pop-max-vh: 50%;
$pop-max-vw: 50%;
$pop-vw: 75vw;
$popover-overflow: scroll;
$popover-padding: 10px;
$popover-top-height: 1em;


// Normal Popover Borderless Preview; Tis Nice
	.popover.hover-popover {
		> .markdown-embed {
			> .markdown-embed-content {
				> .markdown-preview-view {
					padding: $popover-padding;
					@each $block_name in statblocks.$names {
						.statblock-pf2e,
						.statblock.#{$block_name} {
							aspect-ratio: 16 / 9;
							max-height: $pop-max-vh;
							max-width: $pop-max-vw;

							// border: $popover-border; This is for testing purposes
							// border-radius: $popover-border-radius; This is for Testing Purposes
						}
					}
				}
			}
		}

		&:has(.statblock-pf2e, .basic-pathfinder-2e-layout, .pathfinder-2e) {
			aspect-ratio: 16 / 9;

			max-height: $pop-max-vh;
			max-width: $pop-max-vw !important;

			// border: $popover-border; This is for testing purposes
			// border-radius: $popover-border-radius; This is for Testing Purposes
		}

		&:has(.basic-pathfinder-2e-layout, .pathfinder-2e) {
			top: $popover-top-height;
		}
	}
