@use 'attribution';
@use 'font';
@use 'style-settings';
@use 'statblock-types' as statblocks;
@use '../themes/default' as default;

// Local Variables
$elmer-glue-white: rgb(255, 255, 255);
$traits-font-weight: 900;
$traits-font-style: normal;


@each $block_name in statblocks.$names {
	.statblock.#{$block_name} {

		.traits {
			margin: 0 0.25em 0 0;
			display: inline;
			font-weight: $traits-font-weight !important;
			font-style: $traits-font-style !important;
		}


		.rare_01 {
			background-color: var(--statblock-color-common) !important;
			/* common */
		}

		.rare_02 {
			background-color: var(--statblock-color-uncommon) !important;
			/* uncommon */
		}

		.rare_03 {
			background-color: var(--statblock-color-rare) !important;
			/* rare */
		}

		.rare_04 {
			background-color: var(--statblock-color-unique) !important;
			/* unique */
		}

		.alignment {
			background-color: var(--statblock-color-alignment) !important;
		}

		.size {
			background-color: var(--statblock-color-size) !important;
		}

		.xp,
		.kingdom_xp,
		.trait_01,
		.trait_02,
		.trait_03,
		.trait_04,
		.trait_05,
		.trait_06,
		.trait_07 {
			background-color: var(--statblock-color-trait) !important;
		}

		.rare_01,
		.rare_02,
		.rare_03,
		.rare_04,
		.alignment,
		.size,
		.xp,
		.kingdom_xp,
		.trait_01,
		.trait_02,
		.trait_03,
		.trait_04,
		.trait_05,
		.trait_06,
		.trait_07 {
			color: $elmer-glue-white !important;
			font-size: 12px;
			font-style: $traits-font-style !important;
			font-weight: $traits-font-weight !important;
			letter-spacing: 0.01em;
			min-width: 4em;
			margin: 0 var(--statblock-traits-gap) 0 0;
			padding: 0.4em 1.1em 0.2em;
			text-align: center;
			text-transform: uppercase;

			span.property-name {
				display: none;
			}
		}
	}
}
