// Black
$night: rgba(11, 11, 10, 1);
$squid-ink: rgba(36, 36, 36, 1);
$green-it-black: rgba(51, 51, 51);

// Grey
$charcoal-grey: rgba(79, 82, 93, 1);
$dim-gray: rgba(97, 101, 111, 1);
$french-gray: rgba(204, 198, 207, 1);
$taupe-gray: rgba(138, 141, 148, 1);
$timberwolf: rgba(226, 221, 219, 1);
$slate-gray: rgba(113, 117, 126, 1);

// Orange
$burnt-orange: rgb(173, 92, 60, 1);
$desert-sand: rgba(236, 200, 179, 1);

// Pink
$hotpink: rgba(255, 105, 180, 1);


// Red
$fine-wine: rgba(138, 57, 97, 1);


// White
$antiflash-white: rgba(236, 236, 236, 1);
$floral-white: rgba(252, 247, 237, 1);
$boiled-paper-pulp: rgba(225, 225, 220, 0.9);
$offwhite: rgba(250, 250, 250, 1);
$white: rgba(255, 255, 255, 1);
