/*!
/* @settings
name: Pathfinder 2e Statblocks
id: pathfinder-2e-statblocks
collapsed: true
settings:
  -
    id: layout-theme-basic
    title: Creature Statblock Theme
    description: The theme of the creature statblock
    type: class-select
    allowEmpty: false
    default: basic-pathfinder-2e-layout-theme-default
    options:
    -
        label: Default
        value: basic-pathfinder-2e-layout-theme-default
    -
        label: Kingmaker
        value: basic-pathfinder-2e-layout-theme-kingmaker
  -
    id: layout-theme-action
    title: Action Statblock Theme
    description: The theme of the action statblock
    type: class-select
    allowEmpty: false
    default: pathfinder-2e-action-layout-theme-default
    options:
    -
        label: Default
        value: pathfinder-2e-action-layout-theme-default
    -
        label: Kingmaker
        value: pathfinder-2e-action-layout-theme-kingmaker
  -
    id: layout-theme-hazard
    title: Hazard Statblock Theme
    description: The theme of the hazard statblock
    type: class-select
    allowEmpty: false
    default: pathfinder-2e-hazard-layout-theme-default
    options:
    -
        label: Default
        value: pathfinder-2e-hazard-layout-theme-default
    -
        label: Kingmaker
        value: pathfinder-2e-hazard-layout-theme-kingmaker
  -
    id: layout-theme-influence
    title: Influence Statblock Theme
    description: The theme of the influence subsystem statblock
    type: class-select
    allowEmpty: false
    default: pathfinder-2e-influence-layout-theme-default
    options:
    -
        label: Default
        value: pathfinder-2e-influence-layout-theme-default
    -
        label: Kingmaker
        value: pathfinder-2e-influence-layout-theme-kingmaker
  -
    id: layout-theme-item
    title: Item Statblock Theme
    description: The theme of the item statblock
    type: class-select
    allowEmpty: false
    default: pathfinder-2e-item-layout-theme-default
    options:
    -
        label: Default
        value: pathfinder-2e-item-layout-theme-default
    -
        label: Kingmaker
        value: pathfinder-2e-item-layout-theme-kingmaker
  -
    id: layout-theme-misc
    title: Misc Statblock Theme
    description: The theme of the misc statblock
    type: class-select
    allowEmpty: false
    default: pathfinder-2e-misc-layout-theme-default
    options:
    -
        label: Default
        value: pathfinder-2e-misc-layout-theme-default
    -
        label: Kingmaker
        value: pathfinder-2e-misc-layout-theme-kingmaker
  -
    id: layout-theme-plane
    title: Plane Statblock Theme
    description: The theme of the plane statblock
    type: class-select
    allowEmpty: false
    default: pathfinder-2e-plane-layout-theme-default
    options:
    -
        label: Default
        value: pathfinder-2e-plane-layout-theme-default
    -
        label: Kingmaker
        value: pathfinder-2e-plane-layout-theme-kingmaker
  -
    id: layout-theme-quest
    title: Quest Statblock Theme
    description: The theme of the quest statblock
    type: class-select
    allowEmpty: false
    default: pathfinder-2e-quest-layout-theme-default
    options:
    -
        label: Default
        value: pathfinder-2e-quest-layout-theme-default
    -
        label: Kingmaker
        value: pathfinder-2e-quest-layout-theme-kingmaker
  -
    id: layout-theme-settlement
    title: Settlement Statblock Theme
    description: The theme of the settlement statblock
    type: class-select
    allowEmpty: false
    default: pathfinder-2e-settlement-layout-theme-default
    options:
    -
        label: Default
        value: pathfinder-2e-settlement-layout-theme-default
    -
        label: Kingmaker
        value: pathfinder-2e-settlement-layout-theme-kingmaker
 */

@use "statblock-types" as statblocks;
@use "../themes/default" as default;
@use "../themes/kingmaker" as kingmaker;

@each $block_name in statblocks.$names {
	body.#{$block_name}-theme-default {
		.statblock.#{$block_name} {
			@include default.theme;
		}
	}
}


@each $block_name in statblocks.$names {
	body.#{$block_name}-theme-kingmaker {
		.statblock.#{$block_name} {
			@include kingmaker.theme;
		}
	}
}
