@use "attribution";
@use "pf2e-glyphs";
@use "style-settings";
@use "statblock-types" as statblocks;
@use "../themes/default" as default;

$statblock-bar-color: rgba(51, 51, 51, 1);
$statblock-bar-width: 1px;

@each $block_name in statblocks.$names {
	.statblock.#{$block_name} {
		.bar {
			height: $statblock-bar-width;
			background: $statblock-bar-color;;
			border: $statblock-bar-width solid $statblock-bar-color;;
			z-index: 1;
			width: fit-content;
		}

		div.tapered-rule {
			width: auto;
			margin: 0;
			height: $statblock-bar-width;
			background: $statblock-bar-color;
			clip-path: unset !important;
			-webkit-clip-path: unset;
		}
	}
}
